*{
    background-color: black;
    font-family: Verdana;
}
h1{
    
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
    font-family: Verdana;
}

a{
    font-size: 16px;
    color: aquamarine;
    font-family: Verdana;
}

h1.message{
    font-family: Verdana;
    font-size: 42px;
    font-weight: 300;
}
p.copyright{
    text-align: right;
    color: grey;
}